<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.wysiwyg.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    添加新足迹<i class="fa fa-plane"></i>
</button>

<div class="box box-color box-bordered">
    <div class="box-title">
        <h3>
            <i class="red fa fa-heart"></i>
           We are together
        </h3>
    </div>
    <div class="box-content nopadding">
        <ul class="timeline" id="timelineContent">
            <li class="step step1">
                <div class="timeline-content">
                    <div class="left">
                        <div class="icon lightred">
                            <i class="fa fa-camera-retro"></i>
                        </div>
                        <div class="date">8月6日</div>
                    </div>
                    <div class="activity">
                        <div class="user"><a href="#"> <i class="red fa fa-heart"></i></a> <span>第一次见面</span></div>
                        <p> <i class="fa fa-music"></i><i class="deeppink">终于等到你</i>
                            <audio controls="controls" autoplay="autoplay">
                                <source src="song.ogg" type="audio/ogg" />
                                <source src="zyddn.mp3" type="audio/mpeg" />
                                Your browser does not support the audio element.
                            </audio>
                        </p>
                    </div>
                </div>
                <div class="line"></div>
            </li>
            <li class="step step2">
                <div class="timeline-content">
                    <div class="left">
                        <div class="icon orange">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <div class="date">9月20</div>
                    </div>
                    <div class="activity">
                        <div class="user"><a href="#">小阳阳&miao</a> <span><i style="font-size: 20" class="fa fa-male"></i><i style="font-size: 16"  class="fa fa-female"></i>我们在一起了</span></div>
                        <p>
                             <img src="img/7.jpg" width="70" />    我们在一起的日子........................
                        </p>

                    </div>
                </div>
                <div class="line"></div>
            </li>
            <li class="step step3">
                <div class="timeline-content">
                    <div class="left">
                        <div class="icon">
                            <i class="fa fa-picture-o"></i>
                        </div>
                        <div class="date">8月24</div>
                    </div>
                    <div class="activity">
                        <div class="user"><a href="#">喵~</a> <span>一起看电影</span></div>
                        <ul class="timeline-images">
                            <li>
                                <a href="#"><img src="img/love.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/5.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="line"></div>
            </li>
            <li class="step step4">
                <div class="timeline-content">
                    <div class="left">
                        <div class="icon green">
                            <i class="fa fa-comment"></i>
                        </div>
                        <div class="date">11月9日</div>
                    </div>
                    <div class="activity">
                        <div class="user"><a href="#">小阳阳</a> <span>在水库边听歌</span></div>
                        <p>
                            在水库边听歌
                        </p>
                    </div>
                </div>
                <div class="line"></div>
            </li>


        </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" data-keyboard=false role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新的足迹</h4>
            </div>
            <div class="modal-body">



                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" placeholder="标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="place" class="col-sm-2 control-label">地点</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control" id="place" placeholder="地点">

                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button type="button" class="btn btn-success form-control" id="mark" value="map"><i class="fa fa-map-marker"></i> 标记</button>

                        </div>
                        <div class="  col-md-12" id="allmap" style=" height: 200px; padding: 10px;display: none"></div>
                    </div>

                </form>


                <div>
                    <label><input type="radio" name="contenttype" value="video" />视频</label>
                    <label><input type="radio" name="contenttype" value="audio" />音频</label>
                    <label><input type="radio" name="contenttype" value="picture" />图片</label>
                    <label><input type="radio" name="contenttype" value="text" />文字</label>
                </div>
                <div><textarea id="wysiwyg" rows="5" cols="65" > </textarea></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->

 <script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/handlebars-v1.1.2.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BFd543d565fe3c25b197ceb35bf74267"></script>
<script type="text/javascript" src="js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="js/wysiwyg.image.js"></script>
<script type="text/javascript" src="js/wysiwyg.link.js"></script>
<script type="text/javascript" src="js/wysiwyg.table.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script id="entry-template" type="text/x-handlebars-template">
    {{#each result}}

    <li class="step{{@index}}">
        <div class="timeline-content">
            <div class="left">
                <div class="icon lightred">
                    <i class="fa fa-camera-retro"></i>
                </div>
                <div class="date">{{eventDate}}</div>
            </div>
            <div class="activity">
                <div class="user"><a href="#"> <i class="red fa {{Mood}}"></i></a> <span>{{title}}</span></div>
                <p> {{contentHTML}}

                </p>
            </div>
        </div>
        <div class="line"></div>
    </li>
    {{/each}}
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>-->
</body>
</html>